* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.row {
    width: 100%;
    overflow: hidden;
}

[class*="col-"] {
    float: left;
    margin: 5px 0px;
}

/* Mobilni dizajn */
@media only screen and (max-width: 599px) {
    [class*="col-"] {
        width: 100%;
    }
    .col-m-6 {
        width: 50%;
    }
}

/* Desktop dizajn */
@media only screen and (min-width: 600px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.33%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}

body {
    padding: 5px;
}

h3, p {
    margin: 5px 0px;
}

/* Forma */
form {
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

form label {
    position: relative;
    top: 10px;
}


form input, form select, form textarea {
    padding: 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid silver;
    border-radius: 5px;
}

/* Polje za pretragu */
.search {
    background-image: url('transparency.png');
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding-left: 30px;
}

textarea {
    height: 200px;
}

/* Dugme */
.dugme {
    float: right;
    background-color: rgb(16, 194, 16);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

 
